In [1]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]

t1 = (1, 2, 3)
t2 = (10, 20, 30)

s1 = 'abc'
s2 = 'xyz'

In [2]:
print(l1 + l2)

[1, 2, 3, 10, 20, 30]

In [3]:
print(t1 + t2)

(1, 2, 3, 10, 20, 30)

In [4]:
print(s1 + s2)

abcxyz

In [5]:
# print(l1 + 4)
# TypeError: can only concatenate list (not "int") to list

In [6]:
print(l1 + [4])

[1, 2, 3, 4]

In [7]:
# print(t1 + 4)
# TypeError: can only concatenate tuple (not "int") to tuple

In [8]:
print(t1 + (4,))

(1, 2, 3, 4)

In [9]:
l1 += l2
print(l1)

[1, 2, 3, 10, 20, 30]

In [10]:
t1 += t2
print(t1)

(1, 2, 3, 10, 20, 30)

In [11]:
s1 += s2
print(s1)

abcxyz

In [12]:
l = [1, 10, 100]
t = (1, 10, 100)
s = 'Abc'

In [13]:
print(l * 3)

[1, 10, 100, 1, 10, 100, 1, 10, 100]

In [14]:
print(t * 3)

(1, 10, 100, 1, 10, 100, 1, 10, 100)

In [15]:
print(s * 3)

AbcAbcAbc

In [16]:
print(3 * l)

[1, 10, 100, 1, 10, 100, 1, 10, 100]

In [17]:
# print(l * 0.5)
# TypeError: can't multiply sequence by non-int of type 'float'

In [18]:
print(l * -1)

[]

In [19]:
l *= 3
print(l)

[1, 10, 100, 1, 10, 100, 1, 10, 100]

In [20]:
t *= 3
print(t)

(1, 10, 100, 1, 10, 100, 1, 10, 100)

In [21]:
s *= 3
print(s)

AbcAbcAbc

In [22]:
l1 = [1, 2, 3]
l2 = [10, 20, 30]
print(l1 + l2 * 2)

[1, 2, 3, 10, 20, 30, 10, 20, 30]

In [23]:
print((l1 + l2) * 2)

[1, 2, 3, 10, 20, 30, 1, 2, 3, 10, 20, 30]