In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.0.3

In [3]:
df = pd.read_csv('data/src/sample_pandas_normal.csv', index_col=0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [4]:
print(df.drop('Charlie', axis=0))

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [5]:
print(df.drop('Charlie'))

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [6]:
print(df.drop(index='Charlie'))

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [7]:
print(df.drop(['Bob', 'Dave', 'Frank']))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [8]:
print(df.drop(index=['Bob', 'Dave', 'Frank']))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [9]:
df_copy = df.copy()
df_copy.drop(index=['Bob', 'Dave', 'Frank'], inplace=True)
print(df_copy)

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [10]:
print(df.index[[1, 3, 5]])

Index(['Bob', 'Dave', 'Frank'], dtype='object', name='name')

In [11]:
print(df.drop(df.index[[1, 3, 5]]))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [12]:
print(df.drop(index=df.index[[1, 3, 5]]))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [13]:
df_noindex = pd.read_csv('data/src/sample_pandas_normal.csv')
print(df_noindex)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [14]:
print(df_noindex.index)

RangeIndex(start=0, stop=6, step=1)

In [15]:
print(df_noindex.drop([1, 3, 5]))

      name  age state  point
0    Alice   24    NY     64
2  Charlie   18    CA     70
4    Ellen   24    CA     88

In [16]:
print(df_noindex.drop(df_noindex.index[[1, 3, 5]]))

      name  age state  point
0    Alice   24    NY     64
2  Charlie   18    CA     70
4    Ellen   24    CA     88

In [17]:
df_noindex_sort = df_noindex.sort_values('state')
print(df_noindex_sort)

      name  age state  point
1      Bob   42    CA     92
2  Charlie   18    CA     70
4    Ellen   24    CA     88
0    Alice   24    NY     64
5    Frank   30    NY     57
3     Dave   68    TX     70

In [18]:
print(df_noindex_sort.index)

Index([1, 2, 4, 0, 5, 3], dtype='int64')

In [19]:
print(df_noindex_sort.drop([1, 3, 5]))

      name  age state  point
2  Charlie   18    CA     70
4    Ellen   24    CA     88
0    Alice   24    NY     64

In [20]:
print(df_noindex_sort.drop(df_noindex_sort.index[[1, 3, 5]]))

    name  age state  point
1    Bob   42    CA     92
4  Ellen   24    CA     88
5  Frank   30    NY     57

In [21]:
print(df.drop('state', axis=1))

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70
Dave      68     70
Ellen     24     88
Frank     30     57

In [22]:
print(df.drop(columns='state'))

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70
Dave      68     70
Ellen     24     88
Frank     30     57

In [23]:
print(df.drop(['state', 'point'], axis=1))

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [24]:
print(df.drop(columns=['state', 'point']))

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [25]:
df_copy = df.copy()
df_copy.drop(columns=['state', 'point'], inplace=True)
print(df_copy)

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [26]:
print(df.columns[[1, 2]])

Index(['state', 'point'], dtype='object')

In [27]:
print(df.drop(df.columns[[1, 2]], axis=1))

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [28]:
print(df.drop(columns=df.columns[[1, 2]]))

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [29]:
print(df.drop(index=['Bob', 'Dave', 'Frank'], columns=['state', 'point']))

         age
name
Alice     24
Charlie   18
Ellen     24

In [30]:
print(df.drop(index=df.index[[1, 3, 5]], columns=df.columns[[1, 2]]))

         age
name
Alice     24
Charlie   18
Ellen     24

In [31]:
df_copy = df.copy()
df_copy.drop(index=['Bob', 'Dave', 'Frank'], columns=['state', 'point'],
             inplace=True)
print(df_copy)

         age
name
Alice     24
Charlie   18
Ellen     24