In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'X': [0, 1, 2], 'Y': [3, 4, 5]}, index=['A', 'B', 'C'])
print(df)

   X  Y
A  0  3
B  1  4
C  2  5

In [3]:
print(df.T)

   A  B  C
X  0  1  2
Y  3  4  5

In [4]:
print(df.transpose())

   A  B  C
X  0  1  2
Y  3  4  5

In [5]:
df = df.T
print(df)

   A  B  C
X  0  1  2
Y  3  4  5

In [6]:
df = pd.DataFrame({'X': [0, 1, 2], 'Y': [3, 4, 5]}, index=['A', 'B', 'C'])
print(df)

   X  Y
A  0  3
B  1  4
C  2  5

In [7]:
print(df.dtypes)

X    int64
Y    int64
dtype: object

In [8]:
print(df.T)

   A  B  C
X  0  1  2
Y  3  4  5

In [9]:
print(df.T.dtypes)

A    int64
B    int64
C    int64
dtype: object

In [10]:
df_mix = pd.DataFrame({'col_int': [0, 1, 2], 'col_float': [0.1, 0.2, 0.3]}, index=['A', 'B', 'C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [11]:
print(df_mix.dtypes)

col_int        int64
col_float    float64
dtype: object

In [12]:
print(df_mix.T)

             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3

In [13]:
print(df_mix.T.dtypes)

A    float64
B    float64
C    float64
dtype: object

In [14]:
print(df_mix.T.T)

   col_int  col_float
A      0.0        0.1
B      1.0        0.2
C      2.0        0.3

In [15]:
print(df_mix.T.T.dtypes)

col_int      float64
col_float    float64
dtype: object

In [16]:
df_mix2 = pd.DataFrame({'col_int': [0, 1, 2], 'col_float': [0.1, 0.2, 0.3], 'col_str': ['a', 'b', 'c']},
                       index=['A', 'B', 'C'])
print(df_mix2)

   col_int  col_float col_str
A        0        0.1       a
B        1        0.2       b
C        2        0.3       c

In [17]:
print(df_mix2.dtypes)

col_int        int64
col_float    float64
col_str       object
dtype: object

In [18]:
print(df_mix2.T)

             A    B    C
col_int      0    1    2
col_float  0.1  0.2  0.3
col_str      a    b    c

In [19]:
print(df_mix2.T.dtypes)

A    object
B    object
C    object
dtype: object

In [20]:
print(df_mix2.T.T)

  col_int col_float col_str
A       0       0.1       a
B       1       0.2       b
C       2       0.3       c

In [21]:
print(df_mix2.T.T.dtypes)

col_int      object
col_float    object
col_str      object
dtype: object

In [22]:
df = pd.DataFrame({'X': [0, 1, 2], 'Y': [3, 4, 5]}, index=['A', 'B', 'C'])
print(df)

   X  Y
A  0  3
B  1  4
C  2  5

In [23]:
df_T = df.T
print(df_T)

   A  B  C
X  0  1  2
Y  3  4  5

In [24]:
df_transpose = df.transpose()
print(df_transpose)

   A  B  C
X  0  1  2
Y  3  4  5

In [25]:
df.at['A', 'X'] = 100
print(df)

     X  Y
A  100  3
B    1  4
C    2  5

In [26]:
print(df_T)

     A  B  C
X  100  1  2
Y    3  4  5

In [27]:
print(df_transpose)

     A  B  C
X  100  1  2
Y    3  4  5

In [28]:
df_mix = pd.DataFrame({'col_int': [0, 1, 2], 'col_float': [0.1, 0.2, 0.3]}, index=['A', 'B', 'C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [29]:
df_mix_T = df_mix.T
print(df_mix_T)

             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3

In [30]:
df_mix.at['A', 'col_int'] = 100
print(df_mix)

   col_int  col_float
A      100        0.1
B        1        0.2
C        2        0.3

In [31]:
print(df_mix_T)

             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3

In [32]:
df = pd.DataFrame({'X': [0, 1, 2], 'Y': [3, 4, 5]}, index=['A', 'B', 'C'])
print(df)

   X  Y
A  0  3
B  1  4
C  2  5

In [33]:
df_T_copy = df.T.copy()
print(df_T_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [34]:
df_transpose_copy = df.transpose(copy=True)
print(df_transpose_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [35]:
df.at['A', 'X'] = 100
print(df)

     X  Y
A  100  3
B    1  4
C    2  5

In [36]:
print(df_T_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [37]:
print(df_transpose_copy)

   A  B  C
X  0  1  2
Y  3  4  5