In [1]:
single_tuple_error = (10)
print(single_tuple_error)

10

In [2]:
print(type(single_tuple_error))

<class 'int'>

In [3]:
single_tuple = (10, )
print(single_tuple)

(10,)

In [4]:
print(type(single_tuple))

<class 'tuple'>

In [5]:
print(single_tuple[0])

10

In [6]:
# print((0, 1, 2) + (3))
# TypeError: can only concatenate tuple (not "int") to tuple

In [7]:
print((0, 1, 2) + (3, ))

(0, 1, 2, 3)

In [8]:
t = 0, 1, 2
print(t)

(0, 1, 2)

In [9]:
print(type(t))

<class 'tuple'>

In [10]:
t = 0,
print(t)

(0,)

In [11]:
print(type(t))

<class 'tuple'>

In [12]:
empty_tuple = ()
print(empty_tuple)

()

In [13]:
print(type(empty_tuple))

<class 'tuple'>

In [14]:
# empty_tuple_error = 
# SyntaxError: invalid syntax

In [15]:
# empty_tuple_error = ,
# SyntaxError: invalid syntax

In [16]:
# empty_tuple_error = (,)
# SyntaxError: invalid syntax

In [17]:
empty_tuple = tuple()
print(empty_tuple)

()

In [18]:
print(type(empty_tuple))

<class 'tuple'>

In [19]:
def example(a, b):
    print(a, type(a))
    print(b, type(b))

In [20]:
example(0, 1)

0 <class 'int'>
1 <class 'int'>

In [21]:
# example((0, 1))
# TypeError: example() missing 1 required positional argument: 'b'

In [22]:
example((0, 1), 2)

(0, 1) <class 'tuple'>
2 <class 'int'>

In [23]:
example(*(0, 1))

0 <class 'int'>
1 <class 'int'>